$fontstack1: 'Century Gothic'
$fontstack2: 'Futura PT'
$fontstack3: 'Buttey Honey'
$designed: 'Courier Prime', monospace

// $basecolor: rgb(229, 128, 99)
// $baselit: rgb(246, 150, 122)
$basecolor: rgb(183, 138, 71)
$baselit: rgb(213, 170, 107)
$basecolor2: rgb(31, 31, 31)
$basecolor3: rgb(255, 245, 237)

$text: rgb(40, 40, 40)

$white: rgb(255, 255, 255)
$black: rgb(0, 0, 0)
