//Header
.modal-backdrop
    background: rgba(54, 54, 54, 0.8)
    &.show
        opacity: 1

#Header
    width: 100%
    z-index: 4
    top: 0px
    left: 0px
    animation-duration: 0.5s
    position: absolute
    padding: 0px 0

    .container
        max-width: 100%
        padding: 0 30px

    .MenuFlx
        display: flex
        align-items: center
        justify-content: space-between

    .MenuIcon
        align-items: center
        display: flex
        position: absolute
        left: 0
        top: 0
        height: 100%
        z-index: 1
        width: 38px
        @media only screen and (min-width: 468px)
            width: fit-content
            width: -moz-fit-content
            height: auto
            position: unset
        button
            display: flex
            align-items: center
            border: none
            font-size: 0
            outline: none
            padding: 0
            margin: 0
            box-shadow: none
            border-radius: 0
            height: 100%
            width: 100%
            display: flex
            align-items: center
            justify-content: center
            background: $basecolor
            @media only screen and (min-width: 468px)
                justify-content: flex-start
                background: none
                width: 80px
            .IconWrp
                width: 18px
                display: flex
                flex-wrap: wrap
                align-items: center
                justify-content: flex-start
            .MenuTxt
                font-size: 14px
                color: rgb(89, 89, 89)
                text-transform: uppercase
                padding-left: 8px
                @media only screen and (max-width: 468px)
                    display: none
                @media only screen and (min-width: 1441px)
                    font-size: 15px
            span
                width: 100%
                height: 2px
                display: block
                -webkit-transition: all 0.3s ease
                -moz-transition: all 0.3s ease
                -ms-transition: all 0.3s ease
                -o-transition: all 0.3s ease
                transition: all 0.3s ease
                position: relative
                background: $white
                @media only screen and (min-width: 468px)
                    background: $basecolor
                &:nth-child(1)
                    width: 75%
                &:nth-child(3)
                    width: 55%
                ~ span
                    margin-top: 4px
            @media only screen and (min-width: 1200px)
                &:hover, &:focus
                    span
                        width: 100%
                        &:nth-child(2)
                            width: 100%

                        &:nth-child(3)
                            width: 100%

        &.open
            button
                span
                    margin: 0
                    width: 100%
                    &:nth-child(1)
                        transform: rotate(45deg) translate(0px, 0px)
                    &:nth-child(2)
                        transform: rotate(-45deg) translate(2px, -2px)
                    &:nth-child(3)
                        display: none
        &.close
            opacity: 0
            visibility: hidden

    .HeaderMenu
        border-bottom: 1px solid rgba(255, 255, 255, 0.2)
        .LogoSec
            width: 190px
            a
                display: block
                fill: #fff
        .RitWrp
            width: calc(100% - 190px)
            display: flex
            align-items: center
            justify-content: flex-end
    #HeaderPOP
        min-height: 100vh
        @media only screen and (min-width: 992px)
            position: unset
            display: block
            opacity: 1
            padding: 0px
            overflow: visible
            height: 100%
            min-height: auto
            width: fit-content
            width: -moz-fit-content
        .modal-dialog
            margin: 0
            max-width: 80%
            -webkit-transform: none
            transform: none
            background: $basecolor
            height: 100%
            left: -100%
            transition: ease-in-out all .3s
            position: unset
            @media (max-width: 992px) and (min-width: 468px)
                max-width: 350px
            @media only screen and (min-width: 992px)
                left: auto
                max-width: 100%
                background: none

        .modal-content
            padding: 0px
            width: 100%
            height: 100%
            background: transparent
            border: none
            height: 100%
            position: unset
        .modal-body
            padding: 0px
            // align-items: center
            background: #034285
            display: block
            position: unset
            @media only screen and (min-width: 992px)
                background: #f1f1f1

            @media only screen and (min-width: 992px)
                display: flex
                align-items: center
                justify-content: space-between
                background: transparent
                // direction: rtl
            @media only screen and (min-width: 1441px)

            .btnClose
                position: fixed
                background: none
                opacity: 1
                border-radius: 5px
                border: none
                outline: none
                box-shadow: none
                width: 40px
                height: 40px
                z-index: 999
                right: 9px
                top: 17px
                display: block
                @media only screen and (min-width: 468px)
                    width: 45px
                    height: 45px
                    right: 10px
                    top: 20px
                @media only screen and (min-width: 468px)
                    display: none
                span
                    width: 100%
                    height: 2px
                    display: block
                    background: $basecolor
                    -webkit-transition: all 0.3s ease
                    -moz-transition: all 0.3s ease
                    -ms-transition: all 0.3s ease
                    -o-transition: all 0.3s ease
                    transition: all 0.3s ease
                    position: relative
                    &:nth-child(1)
                        transform: rotate(45deg) translate(0px, 0px)
                    &:nth-child(2)
                        transform: rotate(-45deg) translate(2px, -2px)

                @media only screen and (min-width: 992px)
                    display: none
        .accordion
            padding-top: 30px
            @media only screen and (min-width: 992px)
                padding: 0
                display: flex
                align-items: center
                padding-right: 30px
            .accordion-item
                border-radius: 0px
                border: none
                background: none
                .accordion-header
                    a, button
                        font-size: 14px
                        text-transform: uppercase
                        border: none
                        background: none
                        outline: none
                        box-shadow: none
                        outline: none
                        font-weight: 900
                        letter-spacing: 1px
                        padding: 0
                        font-weight: 400
                        position: relative
                        padding: 35px 15px
                        color: $white
                        @media only screen and  (min-width: 1551px)
                            font-size: 16px
                            padding: 38px 22px
                        svg
                            width: 17px
                            fill: #fff
                            @media only screen and  (min-width: 1551px)
                                width: 20px
                        &::after
                            display: none
                        &[aria-expanded="true"], &.active, &:hover
                            color: $basecolor
        &.show
            .modal-dialog
                left: 0px
    .ActionSec
        border-left: 1px solid rgba(255, 255, 255, 0.2)
        display: flex
        align-items: center
        .Itm
            &:nth-child(1)
                padding: 0 35px 0 30px
        a
            text-transform: uppercase
            font-weight: 900
            color: #fff
            font-size: 14px
            @include center
            @media only screen and  (min-width: 1551px)
                font-size: 16px
            .circle
                background: #fff
                border-radius: 50%
                width: 40px
                height: 40px
                margin-right: 15px
                @include center
                @media only screen and  (min-width: 1551px)
                    width: 44px
                    height: 44px
                    margin-right: 20px
                svg, img
                    width: 15px
                    @media only screen and  (min-width: 1551px)
                        width: 20px
            &.btn
                background: none
                border: 2px solid rgb(255, 255, 255)
                color: #25aaff
                height: 48px
                padding: 0 22px
                @media only screen and  (min-width: 1551px)
                    height: 52px
                    padding: 0 28px
                &:hover
                    color: #fff

    &.sticky
        position: fixed
        width: 100%
        animation-name: fadeInDown
        animation-duration: 0.5s
        animation-fill-mode: both
        top: 0px
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1)
        z-index: 1051
        background: rgba(0,0,0,0.77)
