//HOME_PAGE
/************** ******* **************/
/************* HOME_PAGE *************/
/************** ******* **************/

#WelcomeSec
    position: relative
    padding: 75px 0 55px
    text-align: center
    .container
        padding: 0 200px
    p
        font-size: 45px
        color: rgb(28, 28, 28)
        line-height: 50px
        font-weight: 300
        strong
            font-weight: 700

#CounterSec
    position: relative
    background: rgb(9, 28, 40)
    padding: 245px 0 170px
    #jarallax-container-0
        opacity: 0.45
    .FlxRow
        @include display
    .LftSec
        width: 430px
        .Info
            font-size: 28px
            font-weight: 300
            color: rgb(255, 255, 255)
            line-height: 40px
            strong
                font-size: 39px
                font-weight: 700
    .RitSec
        width: calc(100% - 430px)
        padding-left: 160px
        ul
            margin: -47.5px -37.5px
            @include display
            li
                display: flex
                flex-wrap: wrap
                align-items: center
                color: #fff
                fill: #fff
                width: calc(100% / 2)
                padding: 47.5px 37.5px
            .Icon
                width: 55px
                #Meals
                    width: 50px
                #Men
                    width: 30px
                #Women
                    width: 40px
                #Participants
                    width: 35px
            .CWrapr
                width: calc(100% - 55px)
                padding-left: 20px
                .count
                    display: flex
                    align-items: center
                    font-size: 34px
                    justify-content: center
                    margin-bottom: 15px
                    line-height: 30px
                    @media only screen and (min-width: 468px)
                        font-size: 45px
                        line-height: 40px
                    @media only screen and (min-width: 992px)
                        justify-content: flex-start
                    @media only screen and (min-width: 1551px)
                        font-size: 60px
                        line-height: 55px
                .Txt
                    font-size: 16px

#WhoVR
    position: relative
    padding: 105px 0 155px
    .SecLine
        position: absolute
        left: 50%
        transform: translateX(-50%)
        top: -55px
        width: 5px
        height: 105px
        &::before, &::after
            content: ""
            position: absolute
            left: 50%
            transform: translateX(-50%)
            background-color: rgb(20, 127, 195)
        &::before
            top: 0
            width: 1px
            height: 100%
        &::after
            bottom: 0
            border-radius: 50%
            width: 5px
            height: 5px

    .MainHead
        @media only screen and (min-width: 1551px)
            margin-bottom: 60px
        .SecInfo
            max-width: 935px
    .FlxRow
        @include display
    .MediaSec
        background-color: rgb(20, 127, 195)
        width: 470px
        height: 315px
        position: relative
        order: 1
        &::before
            content: ""
            position: absolute
            left: 0
            bottom: 0
            width: 100%
            height: 95px
            background: rgb(0,0,0)
            background: -moz-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%)
            background: -webkit-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%)
            background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%)
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1)
        .Box
            width: 100%
            height: 100%
            display: block
        img
            @include imgFit
        .BoxFoot
            position: absolute
            bottom: 30px
            left: 0
            width: 100%
            padding: 0 50px
            display: flex
            align-items: center
            justify-content: space-between
            font-size: 18px
            color: rgb(255, 255, 255)
            text-transform: uppercase
            svg
                width: 40px
                .st0
                    fill: #fff
                .st1
                    fill: #000
    .CntnBox
        width: calc(100% - 470px)
        padding-right: 115px
        order: 0
        p
            color: rgb(65, 64, 64)
            font-size: 18px
            line-height: 30px
            &:not(:last-of-type)
                margin-bottom: 35px

        strong
            font-weight: 400
            font-size: 30px
            line-height: 35px

#BAPart
    .container
        max-width: 100%
        padding: 0 60px
    .FlxRow
        margin: -27.5px
        @include display
        >*
            width: 50%
            padding: 27.5px
            &:nth-child(1)
                .Box
                    .InfoBox
                        top: 0
                        left: 0
                        padding: 18px 40px 30px
            &:nth-child(2)
                .Box
                    .InfoBox
                        padding: 25px 25px 5px
                        bottom: 0
                        right: 0
    .Box
        background-color: rgb(0, 0, 0)
        width: 100%
        height: 490px
        text-align: center
        position: relative
        img
            @include imgFit
        .InfoBox
            position: absolute
            background-color: rgb(255, 255, 255)
            width: 415px
            max-width: 90%
            height: fit-content
            height: -moz-fit-content
            .Txt
                font-weight: 900
                font-size: 50px
                color: rgb(29, 29, 30)
                text-transform: uppercase
                line-height: 50px
            .btn
                margin-top: 25px
        .HoverBox

#HopeStorY
    padding: 140px 0 70px
    .SliderWrap
        padding: 0 30px
    .HopeStorYBox
        text-align: center
        color: rgb(255, 255, 255)
        position: relative
        .ImgBox
            height: 380px
            img
                @include imgFit
        .Title
            font-size: 23px
            font-weight: 700
            margin-bottom: 7px
        .Discrp
            font-size: 18px
            font-weight: 300
        .BoxTitle
            padding: 25px 30px 30px
            background: $basecolor
            transition: all .3s
        .HoverBox
            background: $basecolor
            padding: 25px 30px 30px
            position: absolute
            bottom: 0
            left: 0
            opacity: 0
            transform: translateY(100%)
            transition: all .3s
            height: 100%
            display: flex
            align-items: center
            justify-content: center
            .Info
                font-size: 18px
                line-height: 23px
                margin-top: 35px
            .StorYTelr
                font-size: 18px
                text-transform: uppercase
                margin-top: 55px
        &:hover
            .BoxTitle
                opacity: 0
                transform: translateY(-10px)
            .HoverBox
                opacity: 1
                transform: translateY(0)

#EventsSec
    padding: 70px 0 75px

#Testimonial
    background-image: -moz-linear-gradient( 0deg, rgb(20,127,195) 0%, rgb(32,175,205) 100%)
    background-image: -webkit-linear-gradient( 0deg, rgb(20,127,195) 0%, rgb(32,175,205) 100%)
    background-image: -ms-linear-gradient( 0deg, rgb(20,127,195) 0%, rgb(32,175,205) 100%)
    padding: 160px 0 165px
    position: relative
    .container
        padding: 0 125px
    .DpBox
        position: relative
        padding-bottom: 20px
        margin-bottom: 22px
        .ImgWrp
            border-radius: 50%
            background-color: rgb(227, 119, 87)
            width: 140px
            height: 140px
            overflow: hidden
            margin: auto
            transition: all .5s
            img
                @include imgFit
        svg
            width: 45px
            fill: #fff
            position: absolute
            left: 50%
            bottom: 0px
            transform: translateX(-50%)
            transition-delay: 2s
            transition: all .3s
    .TestiBox
        text-align: center
        max-width: 735px
        margin: auto
        .MsgBox
            transition: all .3s
            p
                font-size: 20px
                color: rgb(255, 255, 255)
                font-weight: 600
                line-height: 30px
                margin: 0
        .BoxFoot
            transition: all .3s
            padding-top: 35px
            .Name
                font-size: 26px
                color: rgb(255, 255, 255)
                font-weight: 700
                text-transform: uppercase
                margin-bottom: 10px
            .Progm
                font-size: 20px
                font-weight: 300
                color: rgb(255, 255, 255)
    #mainSlide
        width: 100%
        .splide__slide
            width: 100%
            margin: auto
            opacity: 1
            [aria-hidden="true"]
                opacity: 0
    #thumbSlide
        width: 100%
        display: block
        max-width: 500px !important
        margin: auto
        .splide__slide
            border: none
            outline: none
            &:not(.is-active)
                .DpBox
                    transform: scale(.5)
                    opacity: 0.5
                    svg
                        opacity: 0
