// layout
#pageWrapper
    overflow: hidden

// HEADINGS
.MainHead
    text-align: center
    margin-bottom: 25px
    @media only screen and (min-width: 468px)
        margin-bottom: 30px
    @media only screen and (min-width: 992px)
        margin-bottom: 35px
    @media only screen and (min-width: 1200px)
        margin-bottom: 55px
    @media only screen and (min-width: 1551px)
        margin-bottom: 60px
    .Head
        color: $basecolor
        text-transform: uppercase
        font-weight: 900
        font-size: 24px
        margin-bottom: 15px
        @media only screen and (min-width: 468px)
            font-size: 28px
        @media only screen and (min-width: 992px)
            font-size: 34px
            margin-bottom: 25px
        @media only screen and (min-width: 1551px)
            font-size: 40px
            margin-bottom: 30px

    .SecInfo
        color: #010101
        font-weight: 300
        max-width: 800px
        margin: auto
        font-size: 14px
        line-height: 22px
        @media only screen and (min-width: 468px)
            font-size: 18px
            line-height: 24px
        @media only screen and (min-width: 992px)
            font-size: 24px
            line-height: 36px
        @media only screen and (min-width: 1551px)
            font-size: 30px

// COMMON HEADINGS

// BUTTON STYLE
.hoveranim
    display: flex
    align-items: center
    justify-content: center
    position: relative
    overflow: hidden
    &::before
        content: ''
        position: absolute
        z-index: 0
        top: 0
        bottom: 0
        width: 100%
        background: $basecolor2
        -webkit-transform: scaleX(0)
        -ms-transform: scaleX(0)
        transform: scaleX(0)
        -webkit-transition: -webkit-transform 0.3s ease
        transition: -webkit-transform 0.3s ease
        transition: transform 0.3s ease
        transition: transform 0.3s ease, -webkit-transform 0.3s ease
        left: 0
        -webkit-transform-origin: right
        -ms-transform-origin: right
        transform-origin: right
    span
        position: relative
        z-index: 1
    &:hover
        color: #fff
        &::before
            -webkit-transform-origin: left
            -ms-transform-origin: left
            transform-origin: left
            -webkit-transform: scaleX(1)
            -ms-transform: scaleX(1)
            transform: scaleX(1)

// INNER PAGE

#PageBanner
    height: 220px
    @media only screen and (min-width: 468px)
        height: 310px
    @media only screen and (min-width: 768px)
        height: 375px
    @media only screen and (min-width: 1200px)
        height: 475px
    @media only screen and (min-width: 1551px)
        height: 570px
    .container
        position: relative
        z-index: 1
        height: 100%
        display: flex
        align-items: flex-end
        justify-content: center
        padding-bottom: 40px
        @media only screen and (min-width: 468px)
            padding-bottom: 55px
        @media only screen and (min-width: 768px)
            padding-bottom: 80px
    .BannerCntnt
        text-align: center
        .PageTitle
            font-weight: 300
            color: rgb(255, 255, 255)
            text-transform: uppercase
            letter-spacing: 1px
            margin-bottom: 10px
            font-size: 24px
            @media only screen and (min-width: 468px)
                font-size: 35px
            @media only screen and (min-width: 768px)
                margin-bottom: 15px
                font-size: 38px
            @media only screen and (min-width: 1200px)
                font-size: 45px
        .PageInfo
            color: rgb(255, 255, 255)
            letter-spacing: 1px
            font-size: 10px
            @media only screen and (min-width: 468px)
                font-size: 11px
            @media only screen and (min-width: 768px)
                font-size: 13px
            @media only screen and (min-width: 1200px)
                font-size: 14px
